<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width:device-width; initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/uikit.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/all.css') }}" />
  </head>
  <body>
    <!-- About Section Start -->
    <section id="about" class="text-center py-5 text-light">
      <div class="container">
        <div class="row">
          <div class="col mt-5 pt-4">
            <h1 class="text-light">About Us</h1>
            <div class="row">
              <div class="col-lg-6 col-md-6 align-self-center">
                <p class="lead">
                  Next Gen Shifters is a web-based business application for the
                  packers and movers’ industry. Our application aims at
                  providing clients with reliable packaging and relocation of
                  goods which has been developed to override the problems
                  prevailing in the current packers and movers’ system. We aim
                  at creating a digitalised process rin an automated and smooth
                  manner thereby achieving cost transparency.
                </p>
              </div>
              <div class="col-lg-6 col-md-6 align-self-center text-center">
                <img
                  src="{{ url_for('static',filename='images/back.png') }}"
                  class="img-fluid w-50 h-70 rounded-circle"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <script type="text/javascript" src="{{ url_for('static',filename='javascript/jquery-slim.min.js') }}"></script>  
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/popper.min.js') }}"></script>   
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/bootstrap.min.js') }}"></script>   
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/uikit.min.js') }}"></script>    
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/jquery-slim.min.js') }}"></script>    
  </body>
</html>
