<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <h1>Sign in</h1>
      <form action="">
        <input type="text" placeholder="Username" name="" id="">
        <input type="text" placeholder="Password">
      </form>
      <button>
        Sign Up
      </button>
      <div class="member">
         Don't have an account? <a href="{{ url_for('register')}}">Register</a>
      </div>
    </div>
  </body>
</html>